.users-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
  color: #102a43;
  letter-spacing: 0.075ch;
  border-radius: 8px;
  border: 1px solid #f9f9f9;
  table-layout: fixed;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

.users-table th,
.users-table td {
  padding: 15px 10px;
  text-align: left;
}

.users-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #5f5f5f;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.25ch;
}

.users-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.users-table tr:hover {
  background-color: #ddd;
}

.name-col {
  width: 25%;
}

.email-col {
  width: 25%;
}

.company-col {
  width: 25%;
}

.phone-col {
  width: 15%;
}

.job {
  display: block;
  margin-top: 2px;
  font-size: 0.8rem;
  color: #606060;
  letter-spacing: 0.1ch;
}
