.app {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  max-width: 1024px;
  padding-bottom: 40px;
  gap: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 150px;
  border-bottom: 1px solid #f0f4f8;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  color: #102a43;
  letter-spacing: 0.5px;
}

.page-input {
  padding: 10px 20px;
  width: 55px;
  background-color: #f0f4f8;
  color: #102a43;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.85rem;
  border: 1px solid #bcccdc;
}

.error {
  height: 500px;
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  gap: 20px;
}

.btn-back {
  text-transform: uppercase;
  letter-spacing: 0.18ch;
  font-size: 0.75rem;
  font-weight: bold;
}

.page-input:hover {
  background-color: #9fb3c8;
}

.table-container {
  background-color: white;
}

@media (max-width: 948px) {
  .title {
    font-size: 3rem;
  }

  .title-container {
    height: 100px;
  }

  .table-container {
    overflow-x: auto;
  }
}
